

/*CSS Reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}


h1{
    font-family: 'Great Vibes', cursive;
  
    transform: rotate(354deg)

}

p{
    font-family: 'Roboto', sans-serif;
    color: #00fbff;

}



/* HEADINGS STYLES */

.about-head,.passions-head,{
    color: #00fbff;
}

h2,h4,h5{
    color: #00fbff;

}
#logo,.logo{
    font-family: 'Great Vibes', cursive;
 
    transform: rotate(354deg);

}

.nav-link{
    color: #00fbff;
}


#home{
    background-color: aqua;
    padding: 15%;
 background-image: url(./swan-1868697_1920.jpg);
}


#title-name{
    font-family: 'Great Vibes', cursive;
 
    transform: rotate(354deg);

    
}

.p5{
    font-family: 'Roboto', sans-serif;
}


#about{
    background-color: black;
    padding: 25px;
}
.container{
    color: grey;
}


.progress{
    width: 100%;
    margin: 30px;
    
}

#creative{
    background-color: black;
    padding: 25px;
}

#resume{
    background-color: black;
    padding: 25px;
}

.lists{color: #00fbff;
}



#testimonials{
    background-color: black;
}

.carousel-inner{
}




.carousel-item{
    width: 50%;
    height: 50%;
}

.testinominees{
    font-family: 'Great Vibes', cursive;
 
    transform: rotate(354deg);

}

#projects{
    background-color: black;
    padding: 25px;

}


.img-fluid{
    width: ;
    height: ;
}


.staff {
    position: relative;
  }
  
  .project-links {
    background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    opacity: 0;
    transition: all 0.3s linear;
  }
  
  .staff:hover .project-links{
    opacity: 1;
  }

#skills{
    background-color: black;
    padding: 25px;
}








#contact{
    background-color: black; 
    padding: 50px;
}



.send-btn{
    background-color: black;
}







#footer{
    background-color: #2D0800;
    padding: 5px;
}


.up-arrow{color: white  ;
    position: sticky;

}


.fa-brands{
    color: #dc3545;
}



.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.1rem 0 0;
}

.socials li{
    margin: 0 17px;
}

.socials a{
    text-decoration: none;
    color: white;
}

.socials a i{
    font-size: 3.7rem;
    transition: color .4s ease;
}

.socials a:hover{
    color: #00fbff;
}



/* USE FOR FOOTER CONTENT

FOOTER{COLOR #00262D}


*/